<!-- <h1>Listing scannings</h1>

<table>
  <tr>
    <th>Scanurl</th>
    <th>Scandate</th>
    <th>Scantitle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scannings.each do |scanning| %>
  <tr>
    <td><%= scanning.scanUrl %></td>
    <td><%= scanning.scanDate %></td>
    <td><%= scanning.scanTitle %></td>
    <td><%= link_to 'Show', scanning %></td>
    <td><%= link_to 'Edit', edit_scanning_path(scanning) %></td>
    <td><%= link_to 'Destroy', scanning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scanning', new_scanning_path %> -->
